<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stardew Crop Analyzer</title>
</head>
<body>
<main>
    <form action="">
        <label for="crop-name">Crop name:<input type="text" name="crop-name"></label><br>
        <label for="seed-cost">Seed cost:<input type="number" name="seed-cost"></label><br>
        <label for="maturation-days">Growth time:<input type="number" name="maturation-days"></label><br>
        <label for="crop-base">Crop value<input type="number" name="crop-base"></label><br>
        <label for="crop-silver">Silver crop value<input type="number" name="crop-silver"></label><br>
        <label for="crop-gold">Gold crop value<input type="number" name="crop-gold"></label><br>
        <label for="crop-iridium">Iridium crop value<input type="number" name="crop-iridium"></label><br>
        <label for="wine-base">Wine value<input type="number" name="wine-base"></label><br>
        <label for="wine-silver">Silver wine value<input type="number" name="wine-silver"></label><br>
        <label for="wine-gold">Gold wine value<input type="number" name="wine-gold"></label><br>
        <label for="wine-iridium">Iridium wine value<input type="number" name="wine-iridium"></label><br>
        <label for="wine-production">Wine production time<input type="number" name="wine-production"></label><br>
        <label for="preserve-base">Preserve value<input type="number" name="preserve-base"></label><br>
        <label for="preserve-silver">Silver preserve value<input type="number" name="preserve-silver"></label><br>
        <label for="preserve-gold">Gold preserve value<input type="number" name="preserve-gold"></label><br>
        <label for="preserve-iridium">Iridium preserve value<input type="number" name="preserve-iridium"></label><br>
        <label for="preserve-production">Preserve production time<input type="number" name="preserve-production"></label><br>
        <button type="submit" name="submission" value="true">Update values</button>
    </form>
    <a href="/display">View Graph</a>
</main>
</body>
</html>